<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" ng-app="admin" class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="admin" class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="admin" class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html xmlns:th="http://www.thymeleaf.org" lang="en" ng-app="admin" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>AdminLTE 2 | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <div th:include="t03/common/style"/>
    <base href="/"/>
    <style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}



    </style>
</head>
<body class="hold-transition skin-yellow sidebar-mini ng-cloak">
<div class="wrapper">

    <div th:include="t03/common/top-header"/>

    <!-- Left side column. contains the logo and sidebar -->

    <div th:include="t03/common/side-bar"/>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" ng-view="test">
        <!--<div th:include="t03/admin/dashboard"/>-->

    </div>
    <!-- /.content-wrapper -->

    <div th:include="t03/common/footer"/>

    <!-- Control Sidebar -->
    <div th:include="t03/common/control-sidebar"/>

    <!-- /.control-sidebar -->
    <!-- Add the sidebar's background. This div must be placed
         immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<div th:include="t03/common/scripts"/>

</body>
</html>
