<!doctype html>
<!--[if lt IE 7]>
<html lang="en" ng-app="admin" class="no-js lt-ie9 lt-ie8 lt-ie7" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 7]>
<html lang="en" ng-app="admin" class="no-js lt-ie9 lt-ie8" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if IE 8]>
<html lang="en" ng-app="admin" class="no-js lt-ie9" xmlns:th="http://www.thymeleaf.org"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="admin" class="no-js" xmlns:th="http://www.thymeleaf.org"> <!--<![endif]-->
<head>
	<title>Hello AngularJS</title>

	<div th:include="t01/common/style"/>

	<base href="/" />
	<style type="text/css">
[ng\:cloak], [ng-cloak], .ng-cloak {
	display: none !important;
}
</style>
</head>

<body class="ng-cloak">

<div id="wrapper" >

	<!-- Navigation -->
	<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index.html">Admin</a>
		</div>
		<!-- Top Menu Items -->
		<div th:include="t01/common/top-right-menu"/>

		<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
		<div th:include="t01/common/left-side"/>

		<!-- /.navbar-collapse -->
	</nav>

	<div id="page-wrapper">

		<div class="container-fluid" ng-view="test" id="page-content">

		</div>
		<!-- /.container-fluid -->

	</div>
	<!-- /#page-wrapper -->

</div>
<div ></div>

<div th:include="t01/common/scripts"/>

</body>
</html>
